*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
img{
    width: 150px;
    height: 130px;
    position: absolute;
    z-index: 1010;
    top: 50px;
    left: 200px;

}
#map{
    height: 100vh;
    
}